<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Landmark</title>
  </head>
  <body>

    <h1>Edit Landmark</h1><br>
    <form action="/landmarks/<%= @landmark.id %>" method="post">
      <input type="hidden" name="_method" value="patch" id="hidden">


      Landmark Name: <input type="text" name="landmark[name]" value="<%= @landmark.name %>" id="name">
      Landmark Year of Completion: <input type="text" name="landmark[year_completed]" value="<%= @landmark.year_completed %>" id="year_completed">

      <input type="submit" value="Edit Landmark">
    </form>

  </body>
</html>
