<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Landmarks</title>
  </head>
  <body>
    <h1>Landmarks</h1><br>
    <table>
      <tr>
        <th>Name</th>
        <th>Year Completed</th>
      </tr>
      <% @landmarks.each do |landmark| %>
      <tr>
        <td><a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a></td>
        <td><%= landmark.year_completed %></td>
      </tr>
      <% end %>
    <table>

  </body>
</html>
