<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <h1>Create a New Landmark</h1>
    <form action="/landmarks" method="post">
      <h3>Landmark Name: <input type="text" name="landmark[name]" id="landmark_name"></h3><br>
      <h3>Year of Creation: <input type="text" name="landmark[year_completed]" id="landmark_year_completed"></h3><br>

      <input type="submit" value="Create New Landmark">
    </form>
  </body>
</html>
