<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <h1><a href="/landmarks"></a>Landmarks</h1>
    <h1><a href="/figures"></a>Figures</h1>
    <h1><a href="/titles"></a>Titles</h1>
  </body>
</html>
